{% extends 'logger/sidebar_template.html' %}
{% load static %}


{% block content %}

<div class='card' style="width: 50% margin: 0 auto;">

  {% if not template %}
  <div class=card-header>
    <h5>Create Workout Template</h5>
    <form method='POST'>
      {% csrf_token %}
      <button class="btn btn-info" style="float:left">Create New Template</button>
      <input type="hidden" value="redirect" name="operation">
    </form>
  </div>
  {% endif %}

  <div class=card-body>
    {% if templates %}
    {% csrf_token %}
    <table class="table" id="templatesTable">
      <thead class="thead-dark">
        <td>
          <span style="font-weight:bold">Name</span>
        </td>
      </thead>

      <tbody>
        {% for template in templates %}
        <tr>
          <td>
            <form method='POST' id='sessionForm'>
              <div class='form-row'>
                <div class="col-12">
                  {% csrf_token %}
                  <span style="user-select: none;">{{ template.name }}</span>
                  <button class="btn btn-info" style="float:right">Show Details</button>
                  <input type="hidden" value="{{template.id}}" name="id">
                  <input type="hidden" value="select" name="operation">
                </div>
              </div>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>


  {% if template %}
  <div class = card-header>
    <h5>{{template.name}}</h5>
    <div class="form-row">
      <div class="col-6">
        <form method='GET'>
          <button class="btn btn-info" style="float:left">Back to Templates</button>
        </form>
      </div>
      <div class="col-6">
        <form method="POST">
          {% csrf_token %}
          <button class="btn btn-danger" style="float:right;" name="deleteBtn" onclick='return confirm("Are you sure you want to delete this workout?")'>Delete</button>
          <input type="hidden" value="{{template.id}}" name="id">
          <input type="hidden" value="delete" name="operation">
        </form>
      </div>
    </div>
  </div>

  <div class = card-body>

    <table class="table" id="exerciseTable">
      <thead class = thead-dark>
        <td>
          <span style="font-weight:bold">Exercise</span>
        </td>
      </thead>

      <tbody>
        {% for exercise in exercises %}
        <tr>
          <td>
            {{ exercise.exercise.name }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class= card-footer>
    <form method='POST'>
      {% csrf_token %}
      <button class="btn btn-info" style="display">Log Template</button>
      <input type="hidden" value="{{template.name}}" name="template">
      <input type="hidden" value="log" name="operation">
    </form>
  </div>

  {% endif %}

</div>

{% endblock %}
